.variants_options{
    color: #000;
    padding: 20px;
    display: none;
    margin-top: 20px;
}
/* bootstrap-tagsinput.css file - add in local */

.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    width: 100%;
    line-height: 22px;
    cursor: text;
}
.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: 100%;
    max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
    color: #777;
    opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
    color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
    color: #777;
}
.bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none;
}
.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: #ffffff;
    display: inline-flex;
    max-width: 100%;
    align-items: center;
    min-height: 1.8rem;
    padding: 1px 0.8rem;
    background-color: #555;
    border-radius: 40px;
    color: #ffffff;
    outline: .1rem solid transparent;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}


.block-hide{
    color: #000;
    padding: 20px;
    display: none;
    margin-top: 20px;
/*}*/

/*a.nav-link  img {*/
/*    width: 35px;*/
/*    max-height: 35px;*/
/*    height: 35px;*/
/*    background-color: transparent;*/
/*    padding: 5px;*/
/*}*/
/*.import-home-img{*/
/*    transform: rotate(*/
/*        90deg*/
/*    );*/
/*}*/
/*a.nav-link {*/
/*    color: #ffffff !important;*/
/*    font-weight: 600;*/
/*    opacity: 0.80;*/
/*}*/

.form-divider{
    margin-top: 40px;
    padding: 40px;
    margin-bottom: 40px;
}

.form-group strong, .form-group tabel{
    text-transform: uppercase !important;
    /* color: #000; */
}
