<template>
    <div class="row auto-update-model" style="margin:auto">
        <div class="custom-control custom-switch mb-3 col-md-12" style="margin-left: 13px;">
            <input type="checkbox" id="ad-auto-update" role="checkbox" class="custom-control-input" :class="{ 'disable-switch': !is_switch_enable }"  disabled="true" v-model="is_switch_enable">
            <label v-if="!is_switch_enable" for="ad-auto-update" class="custom-control-label text-blue">Automated Daily Product Price and Stock Sync
                for this product is ON
            </label>
            <label v-else for="ad-auto-update" class="custom-control-label text-blue">Automated Daily Price and Stock Sync for this product is ON
            </label>
            <p class="text-pink mb-1">  This function will check the Amazon product page every 24 hours for any price or inventory change. </p>

        </div>

        <div class="d-flex">
            <div class="flex pr-4 pt-4">
                <img  src="/images/product-import-services/priceUpdateAuto.png"  class="img-fluid">
            </div>
            <div class="flex">
                    <p style="margin-bottom: 10px; font-size: 16px;"> <b>We need an email address to notify you when there has been an price change </b> </p>
                    <p class="text-pink mb-1">  + If there is a price increase, we will notify you and will update your product price accordingly.</p>
                    <p class="text-pink mb-1">  + If there is a price reduction, we will notify you.</p>
                    <p class="text-pink mb-1">  + If product goes out of stock we will notify you and we will make it 'Out of Stock' in your store.</p>

                    <div class="form-group row mt-4">
                        <label for="inputEmail" class="col-sm-1 col-form-label">Email</label>
                        <div class="col-sm-11">
                            <input type="email" class="form-control" v-model="email" id="inputEmail" placeholder="Email">
                            <small style="color: red;" v-if="hasError">Invild email address.</small>
                            <small id="passwordHelpBlock" class="form-text text-muted">
                                AmaZone Dropshipper recommends you provide an email address so you can check the price updates in your store.
                            </small>
                            <input type="button" value="Save" class="btn btn-success mt-2 mr-2" @click.prevent="addRecipientEmail()">
                        </div>
                    </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['is_switch_enable'],
    data(){
        return {
            email: '',
            hasError: false
        }
    },
    methods:{
        goToSettingPlanPage() {
            window.location.href = "/settings";
        },
        addRecipientEmail() {
            console.log('Add recipient email submitted.');
            console.log(this.email);
            const params = {
                'main_email': this.email
            }
            axios.post('/add-recipient-email', params).then((res) => {
                    console.log("Add recipient email ========>");
                    console.log(res);
                    // Process errors, if any
                    if (res.data.errors && res.data.errors.length > 0)
                    {
                        this.hasError = true;
                        console.log(res.data.errors);
                        let errorMsg = "<p class=\"mb-0\">Email is not valid:</p><ul>\n";

                        for (let i = 0; i < res.data.errors.length; i++) {
                            errorMsg += "<li>" + res.data.errors[i] + "</li>\n";
                        }

                        errorMsg += "</ul>\n";

                        this.$refs.modal.open('Error', errorMsg, true);

                        console.log('Errors:\n' + res.data.errors.join("\n"));
                    }


                    // Success
                    else if (res.data.success)  {
                        $("#accept-email-modal").modal("hide");
                    }

                    // Unknown server error (catch all)
                    else {
                        this.$refs.modal.open('Error', 'Could not add precipient address due to server error. Please try again or contact support for help.', true);
                        // console.log(res);
                        return false;
                    }
                }).catch(error => {
                    this.hasError = true;
                });
        }
    },
}
</script>

<style>
    @media (min-width: 576px){
        #auto-update-modal > .modal-dialog {
            max-width: 800px !important;
        }
    }
    .basic-plan-info{
        padding: 15px 68px 0;
    }
    .auto-update-model > .custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before {
        background-color: #321fdb;
    }
    .auto-update-model > .custom-control-input[disabled] ~ .custom-control-label::before, .custom-control-input:disabled ~ .custom-control-label::before {
        background-color: #321fdb;
    }

    .disable-switch > .custom-control-input[disabled] ~ .custom-control-label::before, .custom-control-input:disabled ~ .custom-control-label::before {
        background-color: #d8dbe0;
    }

</style>
