<template>
    <div class="row auto-update-model">
        <div class="custom-control custom-switch mb-3 col-md-12" style="margin-left: 13px;">
            <input type="checkbox" id="ad-auto-update" role="checkbox" class="custom-control-input" :class="{ 'disable-switch': !is_switch_enable }"  disabled="true" v-model="is_switch_enable">
            <label v-if="!is_switch_enable" for="ad-auto-update" class="custom-control-label text-blue">Automated Daily Product Price and Stock Sync
                is Not available for BASIC or Free plan
            </label>
            <label v-else for="ad-auto-update" class="custom-control-label text-blue">Automated Daily Price and Stock Sync for this product is ON
            </label>
        </div>

        <div class="d-flex">
            <div class="flex pr-4 pt-4">
                    <img  src="/images/product-import-services/priceUpdateAuto.png"  class="img-fluid">
            </div>
            <div class="flex">
                    <p style="margin-bottom: 10px; font-size: 16px;"> <b>Description: </b> </p>
                    <p class="text-pink mb-1">  This function will check the Amazon product page every 24 hours for any price or inventory change. </p>
                    <p class="text-pink mb-1">  + If there is a price increase, we will notify you and will update your product price accordingly.</p>
                    <p class="text-pink mb-1">  + If there is a price reduction, we will notify you.</p>
                    <p class="text-pink mb-1">  + If product goes out of stock we will notify you and we will make it 'Out of Stock' in your store.</p>
            </div>
        </div>

        <div class="basic-plan-info" v-if="!is_switch_enable">
            <p class="text-blue">To enjoy this great functionality join a different plan.</p>
            <div>
                <button class="upgrade-plan-btn btn btn-success mb-3" @click="goToSettingPlanPage()" >Upgrade my Plan</button>
            </div>
            <p class="text-pink mb-1">Pro Tip: Go with yearly payment and save up to 65%</p>
        </div>
    </div>
</template>

<script>
export default {
    props: ['is_switch_enable'],
    data(){
        return {

        }
    },
    methods:{
        goToSettingPlanPage() {
            window.location.href = "/settings";
        },
    },
}
</script>

<style>
    @media (min-width: 576px){
        #auto-update-modal > .modal-dialog {
            max-width: 800px !important;
        }
    }
    .basic-plan-info{
        padding: 15px 68px 0;
    }
    .auto-update-model > .custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before {
        background-color: #321fdb;
    }
    .auto-update-model > .custom-control-input[disabled] ~ .custom-control-label::before, .custom-control-input:disabled ~ .custom-control-label::before {
        background-color: #321fdb;
    }

    .disable-switch > .custom-control-input[disabled] ~ .custom-control-label::before, .custom-control-input:disabled ~ .custom-control-label::before {
        background-color: #d8dbe0;
    }

</style>
