<template>
    <div>
        <div>
            <div class="custom-control custom-switch mb-3 col-md-12" style="margin-left: 13px;">
                <input type="checkbox" id="ad-auto-update" role="checkbox" class="custom-control-input" :disabled="status_disabled" v-model="value.status" @change="checkDP()">
                <label v-if="status_disabled" for="ad-auto-update" class="custom-control-label text-blue">Automated Daily Product Price and Stock Sync
                    (Not available for BASIC plan).
                </label>
                <label v-else for="ad-auto-update" class="custom-control-label text-blue">Automated Daily Price and Stock Sync for this product is ON
                </label>
            </div>

             <div class="d-flex">
                 <div class="flex pr-4 pt-4">
                     <img  src="/images/product-import-services/priceUpdateAuto.png"  class="img-fluid">
                 </div>
                 <div class="flex">
                     <p style="margin-bottom: 10px; font-size: 16px;"> <b>Description: </b> </p>
                     <p class="text-pink mb-1">  This function will check the Amazon product page every 24 hours for any price or inventory change. </p>
                     <p class="text-pink mb-1">  + If there is a price increase, we will notify you and will update your product price accordingly.</p>
                     <p class="text-pink mb-1">  + If there is a price reduction, we will notify you.</p>
                     <p class="text-pink mb-1">  + If product goes out of stock we will notify you and we will make it 'Out of Stock' in your store.</p>s
                 </div>
             </div>
        </div>
    </div>
</template>

<script>
    export default {
        name:"DailyPriceSync",
        props: ['value', 'type', 'err_msg', 'note_msg', 'show_note','autoupdate_status_disabled','current_plan'],
        data(){
            return {
                status_disabled: false,
            }
        },
        methods:{
            checkDP(){
                if(this.value.status && this.err_msg == ''){
                   // document.getElementById("frequency").disabled = false;
                    // document.getElementById("ad-save-shopify").disabled = false;
                }else{
                 //   this.value.frequency = 0; //24
                  //  document.getElementById("frequency").disabled = true;
                    // document.getElementById("ad-save-shopify").disabled = true;

                    if( this.err_msg != '' ){
                        // document.getElementById("ad-auto-update").disabled = true;
                    }
                }
            }
        },
        updated() {
           // this.checkDP();
        },
        created(){
            this.status_disabled = this.current_plan=="Basic" ? true : false;
            this.value.status = !this.status_disabled;
           // this.checkDP();
        },
        mounted() {
            console.log("Daily Price Sync");
            console.log("current_plan",this.current_plan);
           // this.checkDP();

            console.log("autoupdate_status_disabled",this.autoupdate_status_disabled);


        }
    }
</script>

<style scoped>

</style>
