<template>
    <div>
        <div class="modal fade" id="upgrade-plan-modal" tabindex="-1" role="dialog" aria-labelledby="ad-modal-title"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered plan-modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="upgrade-plan-modal-title">Plan Upgrade Required</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="text-white">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body py-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="upgrade-current-plan-info">
                            <p class="mb-0">Your current Plan is: <span class="my-product-cnt-fc">{{current_plan_name}} </span></p>
                            <p class="mb-2">Counter: <span class="my-product-cnt-fc">{{total_product}} </span></p>
                            <p class="mb-2 fs-14 text-black"><span class="text-blue" v-if="current_plan_name=='FREE'">You have consumed Freeminum plan.
                            </span>  Keep the good work! and get:</p>
                        </div>
                        <div class="upgrade-plan-img pr-4">
                            <img :src="bestseller_resources_logo" alt="Resources" class="img-fluid">
                        </div>
                    </div>
                        <div class="upgrade-plan-services">
                            <ul class="pl-0 mb-2">
                                <li>
                                   + More products from Amazon and Walmart
                                </li>
                                <li>
                                   + More product Reviews
                                </li>
                                <li>
                                   + More product Statistics
                                </li>
                                <li>+ <b>Get Automated Product Price/Stock Sync to update your store prices/inventory automatically</b></li>
                                <li>+
                                    <b>And more (soon)</b>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <button class="upgrade-plan-btn btn btn-success mb-3" @click="goToSettingPlanPage()" >Upgrade my Plan</button>
                        </div>

                        <div>
                            <p class="mb-2"><span class="my-product-cnt-fc "><b>Pro Tip:</b> Go with yearly payment and save up to 65%</span></p>
                        </div>

                        <div style="color:red;" class="fs-14" v-if="current_plan_name=='FREE'">Not: Freeminum plan does not renew and is to be used only one time.</div>


                    </div>
<!--                    <div class="modal-footer">-->

<!--                    </div>-->
                </div>
            </div>
        </div>


    </div>
</template>

<script>
    export default {
        data() {
            return {
                total_product: '',
                total_affiliate_product: '',
                current_plan_name: '',
                current_plan_id: '',
                buttonsEnabled: true,
                new_plan: '',
                is_ok: false,
                errorMsg: '',
                bestseller_resources_logo:'/images/product-import-services/resources.png'

            };
        },
        computed: {},
        methods: {
            open(total_product, total_affiliate_product, current_plan_name, current_plan_id) {
                this.total_product = total_product;
                this.total_affiliate_product = total_affiliate_product;
                this.current_plan_name = current_plan_name;
                this.current_plan_id = current_plan_id;
                $('#upgrade-plan-modal').modal('show');
            },
            close() {
                $('#upgrade-plan-modal').modal('hide');
            },
            closeConfirm() {
                $('#confirm-modal').modal('hide');
                this.buttonsEnabled = true;
            },
            isDismissable() {
                return this.dismissable ? "dynamic" : "static";
            },
            setPlan(planID) {
                this.new_plan = planID;
                this.buttonsEnabled = false;
                $('#confirm-modal').modal('show');

            },
            goToSettingPlanPage() {
                console.log("plan settings page coming...");
                window.location.href = "/settings";
            }

        },
        mounted() {
                  console.log("NewPlanUpgradeModal..");
        }
    }
</script>
