<template>
    <div>
        <div class="modal fade" id="test-charge-plan-modal" tabindex="-1" role="dialog" aria-labelledby="ad-modal-title"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered plan-modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="test-charge-plan-modal-title">RE-SUBSCRIPTION REQUIRED</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="text-white">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body py-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="upgrade-current-plan-info">
                            <br>
                            <p class="mb-0">Hi <b>{{ shop_data.name }}</b> , given our most recent App upgrade there has been an issue where all subscriptions or plan changes made after August 25,2022 in our app were not processed correctly, and stores were moved back to Freemium plan, our sincere apologies for this. You were identified as one of these stores. Given this mentioned issue, you should re-subscribe again to the plan you previously selected (<b>{{ plan.last_test_charge }}</b>) or to any other plan you need so you continue your dropshipping or Amazon Affiliates business development with the help of our Amazone DropShipper app. At this moment and given the issue your store has been returned to the Freemium Plan with the same imports count that it had before you switched plan.
                            </p>
                            <br>
                            <p>For your peace of mind and tranquility, no charges were done for the unsuccessful previous subscription. Once you re-subscribe again everything should be fine.</p>
                            <p>Should you have any question please let us know, happy to discuss via <a href="javascript:void(0)">info@amazonedropshipping.com</a> and again, apologies for the inconvenience.</p>
                           
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-6 reselect">
                                <button class="upgrade-plan-btn btn btn-success mb-3" @click="goToSettingPlanPage()" >RE-SELECT PLAN</button>
                                <div class="upgrade-plan-img pr-4">
                                    <img :src="bestseller_resources_logo" alt="Resources" class="img-fluid">
                                </div>
                            </div>
                        </div>



                    </div>
<!--                    <div class="modal-footer">-->

<!--                    </div>-->
                </div>
            </div>
        </div>


    </div>
</template>

<script>
    export default {
        props: ['shop_data', 'plan'],
        data() {
            return {
                total_product: '',
                total_affiliate_product: '',
                current_plan_name: '',
                current_plan_id: '',
                buttonsEnabled: true,
                new_plan: '',
                is_ok: false,
                errorMsg: '',
                bestseller_resources_logo:'/images/product-import-services/resources.png'

            };
        },
        computed: {},
        methods: {
            open(total_product, total_affiliate_product, current_plan_name, current_plan_id) {
                this.total_product = total_product;
                this.total_affiliate_product = total_affiliate_product;
                this.current_plan_name = current_plan_name;
                this.current_plan_id = current_plan_id;
                $('#test-charge-plan-modal').modal('show');
            },
            close() {
                $('#test-charge-plan-modal').modal('hide');
            },
            closeConfirm() {
                $('#confirm-modal').modal('hide');
                this.buttonsEnabled = true;
            },
            isDismissable() {
                return this.dismissable ? "dynamic" : "static";
            },
            setPlan(planID) {
                this.new_plan = planID;
                this.buttonsEnabled = false;
                $('#confirm-modal').modal('show');

            },
            goToSettingPlanPage() {
                console.log("plan settings page coming...");
                window.location.href = "/settings";
            }

        },
        mounted() {
                  console.log("NewPlanUpgradeModal..");
        }
    }
</script>

<style>

#test-charge-plan-modal .plan-modal-dialog{
    max-width: 820px;
}

#test-charge-plan-modal .modal-header {
    background-color: #0595f1 !important;
    color: #ffffff;
    padding: 10px 16px;
}

#test-charge-plan-modal .reselect {
    justify-content: space-around;
    display: flex;
    margin: auto;
}
#test-charge-plan-modal-title {
    font-weight: 600;
    font-size: 22px;
    color: #ffffff;
    text-transform: uppercase;
}


</style>